@use 'src/styles/vars.scss' as vars;

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.title {
  font-family: 'Fraunces', serif;
  font-size: 100px;
  font-weight: 900;
  color: #d5771a;

  @media screen and (width <= vars.$breakpoint-sm) {
    font-size: 50px;
  }
}

.label {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 21px;

  @media screen and (width <= vars.$breakpoint-sm) {
    font-size: 12px;
  }
}

.body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 15px;

  @media screen and (width <= vars.$breakpoint-sm) {
    font-size: 10px;
  }
}
