@use 'src/styles/vars.scss' as vars;

.title {
  font-family: 'Fraunces', serif;
  font-size: 100px;
  font-weight: 900;
  color: vars.$orange;

  @media screen and (width <= vars.$breakpoint-sm) {
    font-size: 50px;
  }
}

.label {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 21px;

  @media screen and (width <= vars.$breakpoint-sm) {
    font-size: 16px;
  }
}

.body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 15px;

  @media screen and (width <= vars.$breakpoint-sm) {
    font-size: 15px;
  }
}
