@use 'src/styles/vars.scss' as vars;

.accordion {
  border: 0;
  box-shadow: none;
  border-radius: 1rem !important;
  overflow: hidden;

  &::before {
    display: none;
  }

  &:global(.Mui-expanded) {
    margin: 0;
  }
}

.accordionSummary {
  color: white;
  margin: 12px 0 !important;

  &:global(.Mui-expanded) {
    min-height: unset !important;
  }

  > div {
    &:global(.Mui-expanded) {
      margin: 12px 0 !important;
    }
  }
}

.accordionDetails {
  color: white;
  background-color: vars.$charcoal;
}
