@use 'src/styles/vars.scss' as vars;

.main {
  margin: 5rem;
  gap: 5rem;
  display: flex;
  flex-direction: column;

  @media screen and (width <= vars.$breakpoint-sm) {
    margin: 1.5rem;
    gap: 1.5rem;
  }
}
