@use 'src/styles/vars.scss' as vars;

.main {
  margin: 5rem;
  gap: 5rem;
  display: flex;
  flex-direction: column;

  @media screen and (width <= vars.$breakpoint-sm) {
    margin: 1.5rem;
    gap: 1.5rem;
  }
}

.background {
  z-index: -1;
  opacity: 15%;
  position: fixed !important;
  height: 100vh;
  object-fit: cover;
}
