@use 'src/styles/vars.scss' as vars;

.main {
  min-height: calc(100vh - 10rem);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 5rem;

  @media screen and (width <= vars.$breakpoint-md) {
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 3rem;
  }

  @media screen and (width <= vars.$breakpoint-sm) {
    margin: 1.5rem;
    height: calc(100vh - 3rem);
    gap: 1.5rem;
  }
}

.graphic {
  justify-self: end;

  @media screen and (width <= vars.$breakpoint-md) {
    justify-self: center;
  }
}

@media screen and (width <= vars.$breakpoint-sm) {
  .graphic {
    width: 300px;
    height: 450px;
  }
}
